<div class="nav-header">
    <div class="brand-logo">
        <a href="index.html">
            <b class="logo-abbr">
                <img src="~/adminweb/images/zyro-image.png" alt="" width="200" height="100">
            </b>
            <span class="logo-compact">
                <img src="~/adminweb/images/zyro-image.png" alt="" width="200" height="100">
            </span>
            <span class="brand-title">
                <img src="~/adminweb/images/zyro-image.png" alt="" width="170" height="40">
            </span>
        </a>
    </div>
</div>
